/* ALWAYS, reset : */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Change your font if you want to */
    color: #fff;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.container{
    position: absolute;
    top: 20%;
    padding: 5%;
}

.container .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.container .content ol{
    /* Remove 1. 2. 3. ... */
    list-style: none;

    /* This way, only ONE sentence will take 100% height of the content container */
    --height: 2em;
    height: var(--height);
    line-height: var(--height);

    /* Hide other sentences that are out of the content container*/
    /* Comment overflow line if you want to see how it works*/
    overflow: hidden; 

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.container .content ol li{
    /* calc(nbr of steps * time of typing animation * 2 since it's an alternate) = time of slide's animation */
    animation: slide calc(4*2*2s) steps(4) infinite;
}

/* This is our sentences/words */
.container .content ol li span{
    font-weight: 600;
    /* Make your take transparent */
    color: transparent;
    /* Background of your sentence/word gradient */
    background: linear-gradient(to right, #2593ee, #bee62d);
    /* This way your text will take your gradient as its color */
    background-clip: text;

    white-space: nowrap;
    /* This will mimic a typewritter cursor */
    border-right: 3px solid #fff;

    display: inline-block;

    animation: 
    cursor .6s step-end infinite,
    typing 2s steps(9) infinite alternate;
    /* Adjust time as you want to make it faster or slower */

}

/* @keyframes zone */

@keyframes slide {
    100%{
        /* Depend on how many <li> you have, here I've got 4, so -400% */
        transform: translateY(-400%);
    }
}

@keyframes cursor {
    /* Since it's already white, you only to make it disapear */
    50%{
        border-color: transparent;
    }
}

@keyframes typing {
    0%,10%{
        width: 0%;
    }
    70%,100%{
        /* 103% for a gap */
        width: 103%;
    }
}